.container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  background: none;
  padding-right: 5px;
}
.chat {
  display: flex;
  gap: 20px;
}
.img {
  border-radius: 20px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.chatContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
