.container {
  padding: 3% 5%;
  display: flex;
  justify-content: space-between;
  width: auto;
  border-bottom: 1px solid #E5E5E5;
  /* border: 1px solid black; */
}
.contactBox {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contactBox img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 20px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}